<Jumbo>
  <h2>SOFE 3era Fase</h2>
  <p>
    Se espera que los participantes realicen una Aplicación Web (Ember) como se muestra en la siguiente pagina
    https://coronastatistics.live/
    <br>• Utilizar el API de Corona Statistics Live y hacer uso de los Endpoints especificados.
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o http://api.coronastatistics.live/all
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o http://api.coronastatistics.live/countries
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o Ordenar Paises por
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Infectados en total
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Infectados del dia de hoy
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Muertes en total
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Muertes del dia de hoy
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Recuperados
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Activos (Infectados Vivos)
    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Críticos
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o http://api.coronastatistics.live/countries/{country_name}
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o http://api.coronastatistics.live/timeline
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o http://api.coronastatistics.live/timeline/global
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o http://api.coronastatistics.live/timeline/{country_name}
    <br>• GitHub (sofe-cmarin-app, primer letra de su nombre y el apellido) para poder revisar el código.
    <br>• Realizar una documentación básica en el README de su proyecto, se pueden apoyar de la siguiente pagina
    https://www.makeareadme.com/.
    <br>• La aplicación debe de contener la siguiente información:
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o Datos globales
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o Mapa con los datos
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o Lista de Países
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o Gráfica diaria global de infectados, muertos y recuperados
    <br>&nbsp;&nbsp;&nbsp;&nbsp;o Datos desglosados por país
  </p>
</Jumbo>