<Jumbo>
  <h3 class="mb-0">Bernardo Alfonso Borunda Jaquez <small>314788</small></h3><br>
  <h4 class="mb-0 mt-0">Universidad Autonoma de Chihuahua</h4><br>
  <h5><a href="a314788@uach.mx">a314788@uach.mx</a></h5>
</Jumbo>