<div class="pt-2 pr-2 pl-2">

  <Resumenes />

  <div class="row">
    <div class="col col-12 col-lg-4">
      <Lista-Paises />
    </div>
    <div class="col col-12 col-lg-8">
      <div class="card mt-2 pt-2 pl-2">
        <h5 class="card-title">Infecciones en el mundo</h5>
        <Map-Chart />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-12">
      <div class="card mt-2 pt-2 pl-2">
        <h5 class="card-title">Historial de infecciones</h5>
        <Line-Chart />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-12 col-lg-4">
      <div class="card mt-2 pt-2 pl-2">
        <h5 class="card-title">Distribucion de tasas</h5>
        <Solid-Gauge />
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <div class="card mt-2 pt-2 pl-2">
        <h5 class="card-title">Distribución de infecciones por países</h5>
        <Pie-Chart />
      </div>
    </div>
    <div class="col col-12 col-lg-4">
      <div class="card mt-2 pt-2 pl-2">
        <h5 class="card-title">Tasas de infección</h5>
        <Tasas />
      </div>
    </div>
  </div>

</div>